<!doctype html>
<html lang="en">
<style>
  .container-fluid {
    height: 100%;
  }

  .chat-col {
    height: 100%;
    overflow: auto;
  }

  .history-col {
    background-color: #f8f9fa;
    /* Set background color for the history panel */
    height: 100%;
    align-items: end;
    overflow: auto;
  }
</style>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>JARVIS The Chatbot</title>
</head>

<body style="background-image: url('https://www.ibm.com/content/dam/connectedassets-adobe-cms/worldwide-content/other/ul/g/90/34/90341b6b-a78f-404d-a77d50a280840189.component.xl.ts=1701117174715.png/content/adobe-cms/us/en/topics/chatbots/_jcr_content/root/leadspace');">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> JARVIS </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
        </li>
        <h3 style="color: #9ba0a5;">|</h3>
        <li class="nav-item active">
          <a class="nav-link" href="https://www.linkedin.com/feed/" target="_blank">About</a>
        </li>
        <h3 style="color: #9ba0a5;">|</h3>
        <li class="nav-item active">
          <a class="nav-link" href="Team.htm" target="_blank">Our Team</a>
        </li>
        <h3 style="color: #9ba0a5;">|</h3>
        <li class="nav-item active">
          <a class="nav-link" href="Mini_Project_Synopsis.pdf" target="_blank">Synopsis</a>
        </li>
        <h3 style="color: #9ba0a5;">|</h3>
        <li class="nav-item active">
          <a class="nav-link" href="#" target="_blank">PPT</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">I am here to help you</button>
      </form>
    </div>
  </nav>
  <br>

  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-12 col-xl-8 chat ml-auto" style="height: 400px; vertical-align:middle; ">
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img
                  src="https://p7.hiclipart.com/preview/1001/63/708/internet-bot-computer-icons-chatbot-clip-art-sticker.jpg"
                  class="rounded-circle user_img" width="100">
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <h2 style="text-align: center;">Hi! I am JARVIS </h2>
                <h5 style="text-align: left;">What's Your Query</h5>
              </div>
            </div>
          </div>
          <div id="messageFormeight" class="card-body msg_card_body">


          </div>
          <div class="container" style="padding-top: 2%;">
            <form action="/bot_search/" method="GET">
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter your Query" name="query">
              </div>
              <button type="submit" class="btn btn-outline-danger">Search</button>
            </form>


            {% if ans %}

            <h5 style="color: rgb(0, 0, 0); padding-top: 2%; ">Here are the Result for " {{query}} ":</h4>
              <h6 style="padding-top: 2%; color: rgb(0, 0, 0); height: 2.4in; overflow-y: auto;">{{ans}}</h4>

                {% endif %}
          </div>
        </div>
      </div>
      <!-- Chat History Column -->
      <div class="col-md-12 col-xl-2 history-col ml-auto" style="height: 560px; vertical-align: baseline;">
        <!-- Your chat history content goes here -->
        <div class="card">
          <div class="card-header">
            Last Chat History
          </div>
          <div class="card-body">
            <ul id="queryList"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script>
    // Initialize an array to store queries
    let queries = [];

    // Function to add a new query
    function addQuery(query) {
      queries.push(query);
      updateQueryList();
    }

    // Function to update the query list in the HTML
    function updateQueryList() {
      const queryListElement = document.getElementById('queryList');
      // Clear existing list items
      queryListElement.innerHTML = '';

      // Loop through the queries array and append each query to the list
      queries.forEach((singleQuery) => {
        const listItem = document.createElement('li');
        listItem.textContent = singleQuery;
        queryListElement.appendChild(listItem);
      });
    }

    // Example: Add queries when a search is performed
    addQuery('{{query}}');
  </script>
</body>

</html> 
